body {
    background: linear-gradient(to bottom, #3a6186, #86b0c7);
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

#main {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px 30px;
    text-align: center;
    width: 350px;
    backdrop-filter: blur(10px);
    color: #f1f1f1;
}

.weather-box h2 {
    font-size: 24px;
    margin-bottom: 0px;
}

.date {
    font-size: 14px;
    margin-bottom: 20px;
    color: #e3f2fd;
}

.temp {
    margin-top: 30px;
}

.center-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.weather-icon {
    width: 80px;
    height: 80px;
}

.description {
    font-size: 18px;
    text-transform: capitalize;
}

.additional-info {
    margin-top: 20px;
    font-size: 14px;
}

.additional-info p {
    margin: 5px 0;
}

.error {
    color: #ff5252;
    font-size: 16px;
    margin-top: 20px;
}
